<%= render partial: 'application/navbar' %>
<div class="content">
  <%= render partial: 'animation', song_available: @song_available %>
</div>

<% if @song_available %>
  <div id="song-input" class="song-input">
    <div class="grow"></div>
    <h3>Nazwa piosenki:</h3>
    <%= form_with model: @answer do |form| %>
      <%= form.text_field :body %><br/>
      <%= form.submit 'Wyślij odpowiedź' %>
    <% end %>
    <div class="grow"></div>
  </div>
<% else %>
  <div id="timer" class="timer" style="display: none;">
    <span id="init-seconds"><%= @seconds.to_i %></span>seconds
  </div>
<% end %>
