<!DOCTYPE html>
<html>
<head>
  <title>SongGuesser</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= favicon_link_tag asset_path('favicon.svg') %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%#= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>

<body>
<% if notice %>
  <div class="popup notice">
    <p><%= notice %></p>
    <span class="close-button" onclick="this.parentElement.style.display='none';">&times;</span>
  </div>
<% end %>
<% if alert %>
  <div class="popup alert">
    <p><%= alert %></p>
    <span class="close-button" onclick="this.parentElement.style.display='none';">&times;</span>
  </div>
<% end %>

<%= yield %>
</body>
</html>
